@{
    ViewBag.Title = "Tour";

    List<TourView> listTour = ViewBag.listTemp;
}

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Quản lý tour</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div><!--//col-->
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-plus"></i> Thêm mới</a>

                            </div>
                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div><!--//row-->



            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Mã số tour</th>
                                            <th class="cell">Tên gọi tour</th>
                                            <th class="cell">Tên loại hình du lịch</th>
                                            <th class="cell">Tên địa điểm đến</th>
                                            <th class="cell">Thời gian bắt đầu</th>
                                            <th class="cell">Thời gian kết thúc</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listTour.OrderByDescending(t => t.maSoTour))
                                        {
                                            <tr>
                                                <td class="cell">@item.maSoTour</td>
                                                <td class="cell"><span class="truncate">@item.tenGoiTour</span></td>
                                                <td class="cell">@item.tenLoaiHinhDuLich</td>
                                                <td class="cell">@item.tenDiaDiem</td>
                                                <td class="cell"><span>@item.thoiGianBatDau</span></td>
                                                <td class="cell"><span>@item.thoiGianKetThuc</span></td>
                                                <td class="cell">
                                                    <a class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="GetIDUpdate(@item.maSoTour)" id="editButton"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                                    <a class="btn btn-danger" style="color: white;" data-bs-toggle="modal" data-bs-target="#DeleteModal" id="deleteButton" onclick="GetIDDelete(@item.maSoTour)"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                    <a class="btn btn-info" style="color: white; margin-top: 5px;" data-bs-toggle="modal" data-bs-target="#BangGiaModal" id="bangGiaButton" onclick="GetIDTourBangGia(@item.maSoTour)"><i class="fas fa-tags"></i> Xem bảng giá</a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav><!--//app-pagination-->

                </div><!--//tab-pane-->


            </div><!--//tab-content-->



        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm tour</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi tour</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiTour" placeholder="Nhập tên gọi tour..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Đặc điểm</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputDacDiemTour" placeholder="Nhập đặc điểm tour..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Loại hình du lịch</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownLoaiHinhDuLich" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn loại hình du lịch --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau" name="inputThoiGianBatDau" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc" name="inputThoiGianKetThuc" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa điểm</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownDiaDiemDen" style="border-color: #6e6e6f;">
                                        <option value="0" selected>--Chọn địa điểm đến --</option>
                                    </select>
                                </div>
                                <div class="mb-3" style="border: 1px solid #6e6e6f; padding: 5px; border-radius: 5px;" id="listDiaDiemThamQuan">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil-alt"></i> Sửa tour</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã số tour</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaSoTour_Edit" placeholder="Nhập mã số tour..." required readonly/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi tour</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiTour_Edit" placeholder="Nhập tên gọi tour..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Đặc điểm</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputDacDiemTour_Edit" placeholder="Nhập đặc điểm tour..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Loại hình du lịch</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownLoaiHinhDuLich_Edit" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn loại hình du lịch --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau_Edit" name="inputThoiGianBatDau_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc_Edit" name="inputThoiGianKetThuc_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa điểm</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownDiaDiemDen_Edit" style="border-color: #6e6e6f;" >
                                        <option value="0" selected>--Chọn địa điểm đến --</option>
                                    </select>
                                </div>
                                <div class="mb-3" style="border: 1px solid #6e6e6f; padding: 5px; border-radius: 5px;" id="listDiaDiemThamQuan_Edit" >

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnUpdate" class="btn btn-warning" onclick="return Update()" value="Sửa" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa tour mã <span id="maSoTourDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal BangGia -->
    <div class="modal fade" id="BangGiaModal" tabindex="-1" aria-labelledby="BangGiaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-tags"></i>Bảng giá tour</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã số tour</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaSoTour_ModalBangGia" placeholder="Nhập mã số tour..." required readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Giá</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputGiaTour_ModalBangGia" placeholder="Nhập giá tour"  required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nội dung giá</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputNoiDungGia_ModalBangGia" placeholder="Nhập nội dung giá..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày thêm</label>
                                    <input type="date" class="form-control" style="border-color: #6e6e6f;" id="inputNgayThem_ModalBangGia" required />
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-success" style="color: white;" onclick="ThemGiaMoi()">Thêm</button>
                                </div>
                                <div style="background-color: #000000; height: 1px; width: 100%;margin-top: 20px;"></div>
                                <div class="mb-3">
                                    <h6 style="text-align: center; margin-top: 10px;">Danh sách giá của tour</h6>
                                    <table class="table table-hover" id="tableBangGia">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Mã giá</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col">Nội dung giá</th>
                                                <th scope="col">Ngày</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                                <td>mdo</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div style="margin-top: 10px;">
                                        <button class="btn btn-primary" style="color: white; float: left; background: #e38148;" onclick="ApDungGia()">Áp dụng giá</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>




    <script>

        $(document).ready(function () {
            LoadDiaDiemThamQuan();
            LoadDiaDiemThamQuan_UpdateModalOnChange();
        });

        function LoadInfoModalAdd() {

            //Load loại hình du lịch
            document.getElementById('dropdownLoaiHinhDuLich').options.length = 0; //clear dropdown

            $('#dropdownLoaiHinhDuLich').append($('<option>', {
                value: 0,
                text: "-- Chọn loại hình du lịch --"
            }));

            $.ajax({
                url: "/LoaiHinhDuLich/GetAllLoaiHinhDuLich",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownLoaiHinhDuLich').append($('<option>', {
                            value: result[index].maLoaiHinhDuLich,
                            text: result[index].tenLoaiHinhDuLich
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            //Load địa điểm
            document.getElementById('dropdownDiaDiemDen').options.length = 0; //clear dropdown

            $('#dropdownDiaDiemDen').append($('<option>', {
                value: 0,
                text: "-- Chọn địa điểm đến --"
            }));

            $.ajax({
                url: "/DiaDiem/GetAllDiaDiemDen",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownDiaDiemDen').append($('<option>', {
                            value: result[index].maDiaDiemDen,
                            text: result[index].tenDiaDiemDen
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function LoadInfoModalUpdate() {

            //Load loại hình du lịch
            document.getElementById('dropdownLoaiHinhDuLich_Edit').options.length = 0; //clear dropdown

            $('#dropdownLoaiHinhDuLich_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn loại hình du lịch --"
            }));

            $.ajax({
                url: "/LoaiHinhDuLich/GetAllLoaiHinhDuLich",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownLoaiHinhDuLich_Edit').append($('<option>', {
                            value: result[index].maLoaiHinhDuLich,
                            text: result[index].tenLoaiHinhDuLich
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            //Load địa điểm
            document.getElementById('dropdownDiaDiemDen_Edit').options.length = 0; //clear dropdown

            $('#dropdownDiaDiemDen_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn địa điểm đến --"
            }));

            $.ajax({
                url: "/DiaDiem/GetAllDiaDiemDen",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownDiaDiemDen_Edit').append($('<option>', {
                            value: result[index].maDiaDiemDen,
                            text: result[index].tenDiaDiemDen
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        //Load địa điểm tham quan theo địa điểm đến
        function LoadDiaDiemThamQuan() {

            //Khi dropdown địa điểm đến thay đổi => load danh sach dia diem tham quan trong dia diem den nay
            $('#dropdownDiaDiemDen').on('change', function () {
                var _maDiaDiemDen = $('#dropdownDiaDiemDen').val();

                //clear truoc khi load
                $('#listDiaDiemThamQuan input').remove();
                $('#listDiaDiemThamQuan label').remove();
                $('#listDiaDiemThamQuan br').remove();

                $.ajax({
                    url: "/DiaDiem/GetDetailsDDTQ",
                    data: { maDiaDiemDen: _maDiaDiemDen },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#listDiaDiemThamQuan').append($('<input type="checkbox" id="' + result[index].maDiaDiem + '" name="listCheckedDDTQ" value="' + result[index].maDiaDiem + '" />'));
                            $('#listDiaDiemThamQuan').append($('<label class="form-label" for="' + result[index].maDiaDiem + '"> ' + result[index].tenDiaDiem + '</label><br>'));

                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            });


        }

        function LoadDiaDiemThamQuan_UpdateModalOnChange() {

            //Khi dropdown địa điểm đến thay đổi => load danh sach dia diem tham quan trong dia diem den nay
            $('#dropdownDiaDiemDen_Edit').on('change', function () {
                var _maDiaDiemDen = $('#dropdownDiaDiemDen_Edit').val();
                //clear truoc khi load
                $('#listDiaDiemThamQuan_Edit input').remove();
                $('#listDiaDiemThamQuan_Edit label').remove();
                $('#listDiaDiemThamQuan_Edit br').remove();

                $.ajax({
                    url: "/DiaDiem/GetDetailsDDTQ",
                    data: { maDiaDiemDen: _maDiaDiemDen },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#listDiaDiemThamQuan_Edit').append($('<input type="checkbox" id="' + result[index].maDiaDiem + '" name="listCheckedDDTQ_Edit" value="' + result[index].maDiaDiem + '" />'));
                            $('#listDiaDiemThamQuan_Edit').append($('<label class="form-label" for="' + result[index].maDiaDiem + '"> ' + result[index].tenDiaDiem + '</label><br>'));

                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            });
        }

        function LoadDiaDiemThamQuan_UpdateModalOnClick(maDiaDiemDen) {

            //Khi dropdown địa điểm đến thay đổi => load danh sach dia diem tham quan trong dia diem den nay
           
                //clear truoc khi load
                $('#listDiaDiemThamQuan_Edit input').remove();
                $('#listDiaDiemThamQuan_Edit label').remove();
                $('#listDiaDiemThamQuan_Edit br').remove();

                $.ajax({
                    url: "/DiaDiem/GetDetailsDDTQ?maDiaDiemDen=" + maDiaDiemDen,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#listDiaDiemThamQuan_Edit').append($('<input type="checkbox" id="' + result[index].maDiaDiem + '" name="listCheckedDDTQ_Edit" value="' + result[index].maDiaDiem + '" />'));
                            $('#listDiaDiemThamQuan_Edit').append($('<label class="form-label" for="' + result[index].maDiaDiem + '"> ' + result[index].tenDiaDiem + '</label><br>'));

                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

          
        }


        function Add() {
            var _tenGoiTour = $('#inputTenGoiTour').val();
            var _dacDiemTour = $('#inputDacDiemTour').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc').val();
            var _dropdownLoaiHinhDuLich = $('#dropdownLoaiHinhDuLich').val(); //nếu =0 thì chưa chọn
            var _dropdownDiaDiemDen = $('#dropdownDiaDiemDen').val();//nếu =0 thì chưa chọn
            var _listCheckedDDTQ = $('input[name=listCheckedDDTQ]:checked');

            _listCheckedDDTQ.each(function () {
                console.log((this.checked ? $(this).text() : ""));
            });

            if (_tenGoiTour == '' || _dacDiemTour == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownLoaiHinhDuLich == 0 || _dropdownDiaDiemDen == 0 || _listCheckedDDTQ.length == 0) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {
                    //Thêm list địa điểm tham quan vào tour
                    //get mã tour mới nhất + 1, sau đó loop để thêm diadiemtour
                    $.ajax({
                        url: "/Tour/GetTourLatest",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            var _maSoTourNew = result.maSoTour + 1;

                            _listCheckedDDTQ.each(function () {
                                
                                var objDiaDiemTour = {
                                    maTour: _maSoTourNew,
                                    tenDiaDiemThamQuan: (this.checked ? $(this).next('label').text() : "")
                                };

                                $.ajax({
                                    url: "/DiaDiem/CreateDiaDiemTour",
                                    data: JSON.stringify(objDiaDiemTour),
                                    type: "POST",
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    success: function (result) {
                                        console.log("Thêm địa điểm tour thành công!");
                                    },
                                    error: function (errorMessage) {
                                        alert(errorMessage.responseText);
                                    }
                                });

                            });

                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });

                    //Thêm tour
                    var objTour = {
                        tenGoiTour: _tenGoiTour,
                        dacDiem: _dacDiemTour,
                        maLoaiHinhDuLich: _dropdownLoaiHinhDuLich,
                        thoiGianBatDau: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        maDiaDiemDen: _dropdownDiaDiemDen,
                        idGiaTour: null,
                        trangThai: 1
                    };


                    $.ajax({
                        url: "/Tour/Create",
                        data: JSON.stringify(objTour),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#AddModal').modal('hide');
                            swal({
                                title: "Thêm thành công!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        //(không update được địa điểm)
        function Update() {
            var _maSoTour = $('#inputMaSoTour_Edit').val();

            var _tenGoiTour = $('#inputTenGoiTour_Edit').val();
            var _dacDiemTour = $('#inputDacDiemTour_Edit').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau_Edit').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc_Edit').val();
            var _dropdownLoaiHinhDuLich = $('#dropdownLoaiHinhDuLich_Edit').val(); //nếu =0 thì chưa chọn
            
            if (_tenGoiTour == '' || _dacDiemTour == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownLoaiHinhDuLich == 0 ) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {
                    
                    //Sửa tour
                    var objTour = {
                        maSoTour: _maSoTour,
                        tenGoiTour: _tenGoiTour,
                        dacDiem: _dacDiemTour,
                        maLoaiHinhDuLich: _dropdownLoaiHinhDuLich,
                        thoiGianBatDau: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        trangThai: 1
                    };


                    $.ajax({
                        url: "/Tour/Update",
                        data: JSON.stringify(objTour),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#EditModal').modal('hide');
                            swal({
                                title: "Sửa thành công!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        //Truyền data id vào modal (đang lỗi convert date + các địa điểm tham quan)
        function GetIDUpdate(maSoTour) {

            LoadInfoModalUpdate();

            $('#inputMaSoTour_Edit').val(maSoTour);
            var _maSoTour = maSoTour;

            $.ajax({
                url: "/Tour/GetOneTour?maSoTour=" + _maSoTour,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    $('#inputTenGoiTour_Edit').val(result[0].tenGoiTour);
                    $('#inputDacDiemTour_Edit').val(result[0].dacDiem);
                    $('#dropdownLoaiHinhDuLich_Edit').val(result[0].maLoaiHinhDuLich);
                    $('#dropdownDiaDiemDen_Edit').val(result[0].maDiaDiemDen);
                    LoadDiaDiemThamQuan_UpdateModalOnClick(result[0].maDiaDiemDen);
                    //console.log(moment(new Date(1639074900000)).format('yyyy-MM-ddThh:mm'));
                    $('#inputThoiGianBatDau_Edit').val(FormatDateYMD(result[0].thoiGianBatDau));
                    $('#inputThoiGianKetThuc_Edit').val(FormatDateYMD(result[0].thoiGianKetThuc));

                   
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            
            //var _listCheckedDDTQ = $('input[name=listCheckedDDTQ_Edit]');
            ////set checkbox các địa điểm tham quan của tour
            //$.ajax({
            //    url: "/DiaDiem/GetOneDiaDiemTour?maTour=" + _maSoTour,
            //    type: "GET",
            //    contentType: "application/json; charset=UTF-8",
            //    dataType: "json",
            //    success: function (result) {
            //        //Chạy 2 vòng for
            //        $.each(result, function (index) {
            //            _listCheckedDDTQ.each(function () {
            //                var textOption = ($(_listCheckedDDTQ).next('label').text());
                            
            //                if (textOption === result[index].tenDiaDiemThamQuan) {
            //                    $.ajax({
            //                        url: "/DiaDiem/GetMaDDTQ?tenDDTQ=" + textOption,
            //                        type: "GET",
            //                        contentType: "application/json; charset=UTF-8",
            //                        dataType: "json",
            //                        success: function (result2) {
            //                            $('#' + result2.maDiaDiem + '').prop('checked', true);
            //                        },
            //                        error: function (errorMessage) {
            //                            alert(errorMessage.responseText);
            //                        }
            //                    });
            //                }


            //            });

                       
            //        });
            //    },
            //    error: function (errorMessage) {
            //        alert(errorMessage.responseText);
            //    }
            //});

        }

        function GetIDDelete(maSoTour) {
            $('#maSoTourDeleteModal').html(maSoTour);
        }

        function Delete() {
            var _maSoTour = $('#maSoTourDeleteModal').html();

            var postData = {
                maSoTour: _maSoTour
            };

            $.ajax({
                url: "/Tour/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công tour mã " + _maSoTour + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        //gia tour
        function GetIDTourBangGia(maSoTour) {
            $('#inputMaSoTour_ModalBangGia').val(maSoTour);

            var _maSoTour = maSoTour;

            LoadBangDanhSachGia(_maSoTour);
            //get id gia tour selected checkbox
            $.ajax({
                url: "/Tour/GetOneTour?maSoTour=" + _maSoTour,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    var _idGiaTour = result[0].idGiaTour;
                    console.log(_idGiaTour);
                   
                    $('#tableBangGia tbody tr td input[name="checkBoxGia"][value="' + _idGiaTour +'"]').prop("checked", true);
                   
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });


        }

        function LoadBangDanhSachGia(maSoTour) {
            $('#tableBangGia tbody tr').remove();

            $.ajax({
                url: "/Tour/GetBangGiaTour?maSoTour=" + maSoTour,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    $.each(result, function (index) {
                        $('#tableBangGia tbody').append($('<tr><td><input class="form-check-input" type="radio" name="checkBoxGia" value="' + result[index].id + '" id="flexCheckDefault"></td><td>' + result[index].id + '</td><td>' + String(result[index].gia).replace(/(.)(?=(\d{3})+$)/g, '$1,') + '</td><td>' + result[index].dieuKien + '</td><td>' + FormatDate(result[index].ngayThem) + '</td></tr>'));

                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }

        function ThemGiaMoi() {
            var _maTour = $('#inputMaSoTour_ModalBangGia').val();
            var _giaTour = $('#inputGiaTour_ModalBangGia').val();
            var _noiDungGia = $('#inputNoiDungGia_ModalBangGia').val();
            var _ngayThem = $('#inputNgayThem_ModalBangGia').val();

            if (_maTour == '' || _giaTour == '' ||
                _noiDungGia == '' || _ngayThem == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (!CheckNumberGia(_giaTour)) {
                    swal({
                        title: "Giá phải là số!",
                        text: "Vui lòng nhập số vào ô giá!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {
                    var objGiaTour = {
                        maGiaTour: _maTour,
                        gia: _giaTour,
                        dieuKien: _noiDungGia,
                        ngayThem: _ngayThem
                    };

                    $.ajax({
                        url: "/Tour/CreateGiaTour",
                        data: JSON.stringify(objGiaTour),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            swal({
                                title: "Thêm thành công!",
                                icon: "success",
                                timer: 2000
                            })
                            //clear field
                            $('#inputGiaTour_ModalBangGia').val('');
                            $('#inputNoiDungGia_ModalBangGia').val('');
                            $('#inputNgayThem_ModalBangGia').val('');

                            LoadBangDanhSachGia(_maTour);
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }


            }
    

        }

        function CheckNumberGia(strCheck) {
            var numberRegex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
            if (numberRegex.test(strCheck)) {
                return true;
            }
            return false;
        }

        function ApDungGia() {
            var _maGiaChecked = $('#tableBangGia tbody tr td input:checked').val();
            var _maTour = $('#inputMaSoTour_ModalBangGia').val();

            if (_maGiaChecked == null) {
                swal({
                    title: "Vui lòng chọn giá muốn áp dụng!",
                    text: "Chọn giá để áp dụng!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {

                var objTour = {
                    maSoTour: _maTour,
                    idGiaTour: _maGiaChecked
                };

                $.ajax({
                    url: "/Tour/UpdateGiaTour",
                    data: JSON.stringify(objTour),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        swal({
                            title: "Áp dụng thành công giá tour mã " + _maGiaChecked +"!",
                            icon: "success",
                            timer: 2000
                        })

                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            }


        }


        //Hàm convert date bang gia
        function FormatDate(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = day + "-" + month + "-" + year;
   
            return finalDate;
        }

        function FormatDateYMD(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year + "-" + month + "-" + day;

            return finalDate;
        }



    </script>



</div><!--//app-wrapper-->   