@model DAO.nhanvien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>nhanvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhiemVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhiemVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maNhanVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
