@using DAO;
@{
    ViewBag.Title = "Đoàn du lịch";
    List<DoanView> listResults = ViewBag.listTemp;
    List<doandulich> listOneDoan = ViewBag.listOneDoan;
    List<KhachHangCuaDoanView> listKHDK = ViewBag.listKHDK;
    List<NhanVienCuaDoanView> listNVDK = ViewBag.listNVDK;
}

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Chi tiết đoàn du lịch mã: #@Request["maSoDoan"].ToString() </h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">

                            <div class="col-auto">
                               
                            </div>
                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div><!--//row-->


            <div class="container p-3 my-4 bg-white text-black shadow-sm mb-5 rounded">
                <div class="row" style="margin-top: 10px;">
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Mã số đoàn:</span> @listResults[0].ID</div>
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Tên đoàn:</span> @listResults[0].TenDoan</div>
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Tên tour:</span> @listResults[0].TenTour</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Chi tiết:</span> @listResults[0].chitiet</div>
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Thời gian bắt đầu:</span> @listResults[0].thoiGianKhoiHanh.ToShortDateString()</div>
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Thời gian kết thúc:</span> @listResults[0].thoiGianKetThuc.ToShortDateString()</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Số lượng khách hàng:</span> @listOneDoan[0].soLuongKhachHang</div>
                    <div class="col text-body"><span style="font-weight: bold; color: black;">Số lượng nhân viên:</span> @listOneDoan[0].SoLuongNhanVien</div>
                    <div class="col text-body"><a class="btn btn-info" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-dollar-sign"></i> Bảng chi phí</a></div>
                </div>
                <hr />
                
                
                <div class="row">
                    <!-- table khách hàng đăng ký -->
                    <div class="col" style="border-right: 1px dashed #333;">
                        <h5>Danh sách khách hàng</h5>
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive border">
                                    <table class="table table-light table-hover table-striped mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Mã đăng ký</th>
                                                <th class="cell">Tên khách hàng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listKHDK.OrderByDescending(t => t.id))
                                            {
                                                <tr>
                                                    <td class="cell">@item.id</td>
                                                    <td class="cell"><span class="truncate">@item.ten</span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                        <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-plus"></i> Thêm mới</a>

                    </div>

                    <!--table nhân viên đăng ký-->
                    <div class="col">
                        <h5>Danh sách nhân viên</h5>

                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive border">
                                    <table class="table table-light table-hover table-striped mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Mã đăng ký</th>
                                                <th class="cell">Tên nhân viên</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listNVDK.OrderByDescending(t => t.id))
                                            {
                                                <tr>
                                                    <td class="cell">@item.id</td>
                                                    <td class="cell"><span class="truncate">@item.ten</span></td>
                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                        <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-plus"></i> Thêm mới</a>

                    </div>
                </div>
           
                

            </div>


            </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiDoan" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mô tả chi tiết đoàn</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputChiTietDoan" placeholder="Nhập chi tiết đoàn..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownTour" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau" name="inputThoiGianBatDau" style="border-color: #6e6e6f;" required disabled>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc" name="inputThoiGianKetThuc" style="border-color: #6e6e6f;" required disabled>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil-alt"></i> Sửa đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã số đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaSoDoan_Edit" placeholder="Nhập mã số đoàn..." required readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiDoan_Edit" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mô tả chi tiết đoàn</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputChiTietDoan_Edit" placeholder="Nhập chi tiết đoàn..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownTour_Edit" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau_Edit" name="inputThoiGianBatDau_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc_Edit" name="inputThoiGianKetThuc_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnUpdate" class="btn btn-warning" onclick="return Update()" value="Sửa" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa đoàn mã <span id="maSoDoanDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        $(document).ready(function () {
            RangBuocThoiGianTheoTour();
            RangBuocThoiGianTheoTour_UpdateModalOnChange();
            LoadInfoModalUpdate();
        });

        function LoadInfoModalAdd() {

            //Load dropdown tour
            document.getElementById('dropdownTour').options.length = 0; //clear dropdown

            $('#dropdownTour').append($('<option>', {
                value: 0,
                text: "-- Chọn tour --"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownTour').append($('<option>', {
                            value: result[index].maSoTour,
                            text: result[index].tenGoiTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });


        }

        function LoadInfoModalUpdate() {

            //Load dropdown tour
            document.getElementById('dropdownTour_Edit').options.length = 0; //clear dropdown

            $('#dropdownTour_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn tour --"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownTour_Edit').append($('<option>', {
                            value: result[index].maSoTour,
                            text: result[index].tenGoiTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function RangBuocThoiGianTheoTour_UpdateModalOnChange() {

            $('#dropdownTour_Edit').on('change', function () {
                var _maSoTour = $('#dropdownTour_Edit').val();

                $.ajax({
                    url: "/Tour/GetOneTour",
                    data: { maSoTour: _maSoTour },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#inputThoiGianBatDau_Edit').attr("disabled", false);
                            $('#inputThoiGianKetThuc_Edit').attr("disabled", false);
                            $('#inputThoiGianBatDau_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc_Edit').val("");
                            $('#inputThoiGianBatDau_Edit').val("");
                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            });
        }

        function RangBuocThoiGianTheoTour_UpdateModal(maSoTour) {

            $.ajax({
                url: "/Tour/GetOneTour",
                data: { maSoTour: maSoTour },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#inputThoiGianBatDau_Edit').attr("disabled", false);
                        $('#inputThoiGianKetThuc_Edit').attr("disabled", false);
                        $('#inputThoiGianBatDau_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                        $('#inputThoiGianKetThuc_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });

                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });


        }

        function RangBuocThoiGianTheoTour() {

            //Khi dropdown địa điểm đến thay đổi => load danh sach dia diem tham quan trong dia diem den nay
            $('#dropdownTour').on('change', function () {
                var _maSoTour = $('#dropdownTour').val();

                $.ajax({
                    url: "/Tour/GetOneTour",
                    data: { maSoTour: _maSoTour },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#inputThoiGianBatDau').attr("disabled", false);
                            $('#inputThoiGianKetThuc').attr("disabled", false);
                            $('#inputThoiGianBatDau').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc').val("");
                            $('#inputThoiGianBatDau').val("");
                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            });


        }

        function Add() {
            var _tenGoiDoan = $('#inputTenGoiDoan').val();
            var _chiTietDoan = $('#inputChiTietDoan').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc').val();
            var _dropdownTour = $('#dropdownTour').val(); //nếu =0 thì chưa chọn

            if (_tenGoiDoan == '' || _chiTietDoan == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownTour == 0 ) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {

                    //bắt đầu thêm đoàn du lịch
                    var objDoan = {
                        tenGoiDoan: _tenGoiDoan,
                        chiTiet: _chiTietDoan,
                        maSoTour: _dropdownTour,
                        thoiGianKhoiHanh: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        soLuongKhachHang: 0,
                        soLuongNhanVien: 0,
                        trangThai: 1
                    };

                    $.ajax({
                        url: "/DoanDuLich/Create",
                        data: JSON.stringify(objDoan),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#AddModal').modal('hide');
                            swal({
                                title: "Thêm thành công!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        function Update() {
            var _maSoDoan = $('#inputMaSoDoan_Edit').val();

            var _tenGoiDoan = $('#inputTenGoiDoan_Edit').val();
            var _chiTietDoan = $('#inputChiTietDoan_Edit').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau_Edit').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc_Edit').val();
            var _dropdownTour = $('#dropdownTour_Edit').val(); //nếu =0 thì chưa chọn

            if (_tenGoiDoan == '' || _chiTietDoan == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownTour == 0) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {

                    //bắt đầu thêm đoàn du lịch
                    var objDoan = {
                        maSoDoan: _maSoDoan,
                        tenGoiDoan: _tenGoiDoan,
                        chiTiet: _chiTietDoan,
                        maSoTour: _dropdownTour,
                        thoiGianKhoiHanh: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        trangThai: 1
                    };

                    $.ajax({
                        url: "/DoanDuLich/Update",
                        data: JSON.stringify(objDoan),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#EditModal').modal('hide');
                            swal({
                                title: "Sửa thành công đoàn du lịch mã " + _maSoDoan + "!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        //Truyền data id vào modal (đang lỗi convert date + các địa điểm tham quan)
        function GetIDUpdate(maSoDoan) {

            $('#inputMaSoDoan_Edit').val(maSoDoan);
            var _maSoDoan = maSoDoan;

            $.ajax({
                url: "/DoanDuLich/GetOneDoan?maSoDoan=" + _maSoDoan,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#inputTenGoiDoan_Edit').val(result[0].tenGoiDoan);
                    $('#inputChiTietDoan_Edit').val(result[0].chiTiet);
                    $('#inputThoiGianBatDau_Edit').val(FormatDateYMD(result[0].thoiGianKhoiHanh));
                    $('#inputThoiGianKetThuc_Edit').val(FormatDateYMD(result[0].thoiGianKetThuc));
                    $('#dropdownTour_Edit').val(result[0].maSoTour);

                    RangBuocThoiGianTheoTour_UpdateModal(result[0].maSoTour);

                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function GetIDDelete(maSoDoan) {
            $('#maSoDoanDeleteModal').html(maSoDoan);
        }

        function Delete() {
            var _maSoDoan = $('#maSoDoanDeleteModal').html();

            var postData = {
                maSoDoan: _maSoDoan
            };

            $.ajax({
                url: "/DoanDuLich/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công đoàn du lịch mã " + _maSoDoan + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }


        function CheckNumberGia(strCheck) {
            var numberRegex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
            if (numberRegex.test(strCheck)) {
                return true;
            }
            return false;
        }


        //Hàm convert date bang gia
        function FormatDate(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();

            finalDate = day + "-" + month + "-" + year;

            return finalDate;
        }

        function FormatDateYMD(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year + "-" + month + "-" + day;

            return finalDate;
        }


    </script>

</div><!--//app-wrapper-->