@using DAO
@{
    ViewBag.Title = "Đoàn du lịch";

    List<DoanView> listResults = ViewBag.listTemp;

    List<ChiPhiAllDoanModel> listChiPhiAllDoan = ViewBag.listChiPhiAllDoan;
    List<DoanhSoDangKyAllDoan> listTotalGiaVeAllDoan = ViewBag.listTotalGiaVeAllDoan;
}

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Quản lý đoàn</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div><!--//col-->
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-plus"></i> Thêm mới</a>

                            </div>
                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div><!--//row-->



            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Mã số đoàn</th>
                                            <th class="cell">Tên đoàn</th>
                                            <th class="cell">Tên tour</th>
                                            <th class="cell">Chi tiết</th>
                                            <th class="cell">Thời gian bắt đầu</th>
                                            <th class="cell">Thời gian kết thúc</th>
                                            <th class="cell">Tổng doanh thu (đ)</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listResults.OrderByDescending(t => t.ID))
                                        {
                                        <tr>
                                            <td class="cell">@item.ID</td>
                                            <td class="cell"><span class="truncate">@item.TenDoan</span></td>
                                            <td class="cell">@item.TenTour</td>
                                            <td class="cell">@item.chitiet</td>
                                            <td class="cell"><span>@item.thoiGianKhoiHanh</span></td>
                                            <td class="cell"><span>@item.thoiGianKetThuc</span></td>

                                            <td class="cell">
                                                <span>
                                                    @foreach (var itemGiaVe in listTotalGiaVeAllDoan)
                                                    {
                                                        double calcDoanhThu = 0;
                                                        //var calcGiaVe = 0;
                                                        foreach (var itemChiPhi in listChiPhiAllDoan)
                                                        {
                                                            if (itemGiaVe.maSoDoan == item.ID)
                                                            {
                                                                if (itemGiaVe.maSoDoan == itemChiPhi.maSoDoan)
                                                                {
                                                                    calcDoanhThu = itemGiaVe.totalGiaVe - itemChiPhi.totalChiPhi;
                                                                }

                                                            }

                                                        }

                                                        if (calcDoanhThu != 0)
                                                        {
                                                            @Html.Raw(Convert.ToDecimal(calcDoanhThu).ToString("#,##0"));
                                                        }


                                                    }
                                                </span>
                                            </td>

                                            <td class="cell">
                                                <a class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="GetIDUpdate(@item.ID)"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                                <a class="btn btn-danger" style="color: white;" data-bs-toggle="modal" data-bs-target="#DeleteModal" id="deleteButton" onclick="GetIDDelete(@item.ID)"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                <a class="btn btn-secondary" style="color: white; margin-top: 5px;" id="xemChiTietButton" href="/DoanDuLich/Details?maSoDoan=@item.ID"><i class="fas fa-eye"></i> Xem chi tiết</a>
                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav><!--//app-pagination-->

                </div><!--//tab-pane-->


            </div><!--//tab-content-->



        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiDoan" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mô tả chi tiết đoàn</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputChiTietDoan" placeholder="Nhập chi tiết đoàn..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownTour" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau" name="inputThoiGianBatDau" style="border-color: #6e6e6f;" required disabled>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc" name="inputThoiGianKetThuc" style="border-color: #6e6e6f;" required disabled>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil-alt"></i> Sửa đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã số đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaSoDoan_Edit" placeholder="Nhập mã số đoàn..." required readonly/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenGoiDoan_Edit" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mô tả chi tiết đoàn</label>
                                    <textarea rows="3" class="form-control" style="border-color: #6e6e6f;" id="inputChiTietDoan_Edit" placeholder="Nhập chi tiết đoàn..." required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="dropdownTour_Edit" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau_Edit" name="inputThoiGianBatDau_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc_Edit" name="inputThoiGianKetThuc_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnUpdate" class="btn btn-warning" onclick="return Update()" value="Sửa" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa đoàn mã <span id="maSoDoanDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    
    <script>

        $(document).ready(function () {
            RangBuocThoiGianTheoTour();
            RangBuocThoiGianTheoTour_UpdateModalOnChange();
            LoadInfoModalUpdate();
        });

        function LoadInfoModalAdd() {

            //Load dropdown tour
            document.getElementById('dropdownTour').options.length = 0; //clear dropdown

            $('#dropdownTour').append($('<option>', {
                value: 0,
                text: "-- Chọn tour --"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownTour').append($('<option>', {
                            value: result[index].maSoTour,
                            text: result[index].tenGoiTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            
        }

        function LoadInfoModalUpdate() {

            //Load dropdown tour
            document.getElementById('dropdownTour_Edit').options.length = 0; //clear dropdown

            $('#dropdownTour_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn tour --"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#dropdownTour_Edit').append($('<option>', {
                            value: result[index].maSoTour,
                            text: result[index].tenGoiTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }
       
        function RangBuocThoiGianTheoTour_UpdateModalOnChange() {
 
            $('#dropdownTour_Edit').on('change', function () {
                var _maSoTour = $('#dropdownTour_Edit').val();

                $.ajax({
                    url: "/Tour/GetOneTour",
                    data: { maSoTour: _maSoTour },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#inputThoiGianBatDau_Edit').attr("disabled", false);
                            $('#inputThoiGianKetThuc_Edit').attr("disabled", false);
                            $('#inputThoiGianBatDau_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc_Edit').val("");
                            $('#inputThoiGianBatDau_Edit').val("");
                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            });
        }

        function RangBuocThoiGianTheoTour_UpdateModal(maSoTour) {

            $.ajax({
                url: "/Tour/GetOneTour",
                data: { maSoTour: maSoTour },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#inputThoiGianBatDau_Edit').attr("disabled", false);
                        $('#inputThoiGianKetThuc_Edit').attr("disabled", false);
                        $('#inputThoiGianBatDau_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                        $('#inputThoiGianKetThuc_Edit').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                        
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

           
        }

        function RangBuocThoiGianTheoTour() {

            //Khi dropdown địa điểm đến thay đổi => load danh sach dia diem tham quan trong dia diem den nay
            $('#dropdownTour').on('change', function () {
                var _maSoTour = $('#dropdownTour').val();

                $.ajax({
                    url: "/Tour/GetOneTour",
                    data: { maSoTour: _maSoTour },
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index) {
                            $('#inputThoiGianBatDau').attr("disabled", false);
                            $('#inputThoiGianKetThuc').attr("disabled", false);
                            $('#inputThoiGianBatDau').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc').attr({ "min": FormatDateYMD(result[index].thoiGianBatDau), "max": FormatDateYMD(result[index].thoiGianKetThuc) });
                            $('#inputThoiGianKetThuc').val("");
                            $('#inputThoiGianBatDau').val("");
                        })
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });

            });


        }

        function Add() {
            var _tenGoiDoan = $('#inputTenGoiDoan').val();
            var _chiTietDoan = $('#inputChiTietDoan').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc').val();
            var _dropdownTour = $('#dropdownTour').val(); //nếu =0 thì chưa chọn

            if (_tenGoiDoan == '' || _chiTietDoan == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownTour == 0 ) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {
             
                    //bắt đầu thêm đoàn du lịch
                    var objDoan = {
                        tenGoiDoan: _tenGoiDoan,
                        chiTiet: _chiTietDoan,
                        maSoTour: _dropdownTour,
                        thoiGianKhoiHanh: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        soLuongKhachHang: 0,
                        soLuongNhanVien: 0,
                        trangThai: 1
                    };

                    $.ajax({
                        url: "/DoanDuLich/Create",
                        data: JSON.stringify(objDoan),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#AddModal').modal('hide');
                            swal({
                                title: "Thêm thành công!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        function Update() {
            var _maSoDoan = $('#inputMaSoDoan_Edit').val();

            var _tenGoiDoan = $('#inputTenGoiDoan_Edit').val();
            var _chiTietDoan = $('#inputChiTietDoan_Edit').val();
            var _thoiGianBatDau = $('#inputThoiGianBatDau_Edit').val();
            var _thoiGianKetThuc = $('#inputThoiGianKetThuc_Edit').val();
            var _dropdownTour = $('#dropdownTour_Edit').val(); //nếu =0 thì chưa chọn

            if (_tenGoiDoan == '' || _chiTietDoan == '' ||
                _thoiGianBatDau == '' || _thoiGianKetThuc == '' ||
                _dropdownTour == 0) {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                if (_thoiGianBatDau > _thoiGianKetThuc) {
                    swal({
                        title: "Thời gian bắt đầu phải NHỎ HƠN thời gian kết thúc!",
                        text: "Vui lòng nhập đúng thông tin!",
                        icon: "warning",
                        button: "Đóng",
                    });
                } else {

                    //bắt đầu thêm đoàn du lịch
                    var objDoan = {
                        maSoDoan: _maSoDoan,
                        tenGoiDoan: _tenGoiDoan,
                        chiTiet: _chiTietDoan,
                        maSoTour: _dropdownTour,
                        thoiGianKhoiHanh: _thoiGianBatDau,
                        thoiGianKetThuc: _thoiGianKetThuc,
                        trangThai: 1
                    };

                    $.ajax({
                        url: "/DoanDuLich/Update",
                        data: JSON.stringify(objDoan),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#EditModal').modal('hide');
                            swal({
                                title: "Sửa thành công đoàn du lịch mã " + _maSoDoan + "!",
                                icon: "success",
                                timer: 2000
                            })
                            window.setTimeout(function () { location.reload() }, 2000)
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
        }

        //Truyền data id vào modal (đang lỗi convert date + các địa điểm tham quan)
        function GetIDUpdate(maSoDoan) {

            $('#inputMaSoDoan_Edit').val(maSoDoan);
            var _maSoDoan = maSoDoan;

            $.ajax({
                url: "/DoanDuLich/GetOneDoan?maSoDoan=" + _maSoDoan,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#inputTenGoiDoan_Edit').val(result[0].tenGoiDoan);
                    $('#inputChiTietDoan_Edit').val(result[0].chiTiet);
                    $('#inputThoiGianBatDau_Edit').val(FormatDateYMD(result[0].thoiGianKhoiHanh));
                    $('#inputThoiGianKetThuc_Edit').val(FormatDateYMD(result[0].thoiGianKetThuc));
                    $('#dropdownTour_Edit').val(result[0].maSoTour);

                    RangBuocThoiGianTheoTour_UpdateModal(result[0].maSoTour);
                  
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function GetIDDelete(maSoDoan) {
            $('#maSoDoanDeleteModal').html(maSoDoan);
        }

        
        //change trangThai chi phí của đoàn đã xóa sang 0
        $.ajax({
            url: "/DoanDuLich/GetBangChiPhi",
            data: { maSoDoan: 7012 },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //console.log(result);
                $.each(result, function (index) {
                    console.log(result[index].maChiPhi);
                //    var maSoDoanCP = result[index].maSoDoan;
                //    var _maChiPhi = result[index].maChiPhi;
                //    if (maSoDoanCP == _maSoDoan) {

                //        $.ajax({
                //            url: "/DoanDuLich/DeleteChiPhi",
                //            data: { maChiPhi: _maChiPhi },
                //            type: "POST",
                //            contentType: "application/json;charset=utf-8",
                //            dataType: "json",
                //            success: function (result) {
                //                console.log("Xóa chi phí của đoàn thành công!");
                //            },
                //            error: function (errorMessage) {
                //                alert(errorMessage.responseText);
                //            }
                //        });
                //    }

                });
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });

        function Delete() {
            var _maSoDoan = $('#maSoDoanDeleteModal').html();

            //change trangThai chi phí của đoàn đã xóa sang 0
            
            $.ajax({
                url: "/DoanDuLich/GetBangChiPhi",
                data: { maSoDoan: _maSoDoan },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    console.log(result);
                    $.each(result, function (index) {
                        var maSoDoanCP = result[index].maSoDoan;
                        var maChiPhiCP = result[index].maChiPhi;
                        if (maSoDoanCP == _maSoDoan) {
                           
                            var postDataCP = {
                                maChiPhi: maChiPhiCP
                            };

                            $.ajax({
                                url: "/DoanDuLich/DeleteChiPhi",
                                data: JSON.stringify(postDataCP),
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                dataType: "json",
                                success: function (result) {
                                    console.log("Xóa chi phí của đoàn thành công!");
                                },
                                error: function (errorMessage) {
                                    alert(errorMessage.responseText);
                                }
                            });
                        }

                    });
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            //xoa doan
            var postData = {
                maSoDoan: _maSoDoan
            };

            $.ajax({
                url: "/DoanDuLich/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công đoàn du lịch mã " + _maSoDoan + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            

        }

        
        function CheckNumberGia(strCheck) {
            var numberRegex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
            if (numberRegex.test(strCheck)) {
                return true;
            }
            return false;
        }

        
        //Hàm convert date bang gia
        function FormatDate(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();

            finalDate = day + "-" + month + "-" + year;

            return finalDate;
        }

        function FormatDateYMD(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year + "-" + month + "-" + day;

            return finalDate;
        }


    </script>

</div><!--//app-wrapper-->   